language: java
dist: trusty
jdk:
  - oraclejdk8

sudo: required
services:
  -docker

env:
  global:
  - secure: jePdAqYTZTxg+ZbnVdkpdOQkkjqz+aATHUhbKObU/XwUvj+a7No3jXdSxVs/8evYxHzD+M22DNSnNuJVcTnWfPAGlC+EEp/VzUA7idP1Zq4653xhqVwpkn8XZhD+7cL6nrD8eL+VQMdm6mTMTQhqZumtyE1lClX7wOT75dVVrGjgKEnZr/q1YwFFj6A54D6OBr2ZS+m8N09XYAWxRZs3cm6Nu6NxBOYtQo4hInnWRbB3689blMjwGWgPp1XMhqGJsFvtEF4LCY4uC/0G+tYUCWvmSh3riJAKYSGUTYFEFFwEOgn17fGvNR259DKr940SHg48eGAk0t7FDUYUAF35JQytN3co3Yvk+5QYrHEAeiERT5oNI4L+SdHSQanHKbfBdGAjjh5BoO5Jc3JZINNXvajc6Q34Ko39LyyhRJ+6p3Lw1jG0mJT5Qfk0c33xVvUFKe41SjLkCCAwzTNbE81AolKL5vyFt4x0JBQShxuLxWCXGjwELCAw/9FdMWjMoe0Cqtaqmxydw7D88Lvbgk5AhBaFoRQlUI2TFHmPlPze4TP479AX3L5eDm9OQIRlMTHGAGXQgKQ6/IlIQDLFCzcpmvmZMQWl0M0Zl+FwY33I5GAG/ALxx8JGA2rUuv1+IkUii77FGfLBcfb5oc1ZW85qw8/pjf6X0iYhAYzQo4bsmus=
  - secure: MRmRXNgmi39bH77kThhRsYKEayQNsjrwJdMAX3NyZFZZvr/gXy5aU69NC/yVBGHCvQ6KdAWdlhTmhN1hfkjwARPmm1XQycdqOnWbJ4pLVo19isBPkUqNbnagdKQITCSLxIz0f+RX9iKudYiJ8B5JPgIkVBFz9qwyI+xkUeKO7Pszzbe2bSDRmgEaMnrweGXV5Kyo13iFWKKbbVGHpVDlfADVv+R2phLQOEmP23FuWioEqn2A1InqDRwdDPj+gYFpDTZdinq/ciUVijEO+bdVkNe++wYQ5+IB0IeAKcZVBs0buIPVN6ZHwCJ8nSvX2gYZ1voy9l6CNqOFJV0oiXgVy2Lhde9msiakYVsk7vOOjzV/cHXiBVz/hnZ8z6eJlQtuNa/oYrhn49xNMlnnxs2AvaGJviDBV93rkK2YwfdvnchQcHQ5YTOfgCCsNRdn9PzvPA1VkSTktcSaZJPe9jR+pwYoHej4gUBdFs60e2+37NCVmkhQ9rsDkYyoEJ3E5DR915qTE8LfIR/NkJ2q8ItqhPlhX5meAce/wegd3l5fRzmejcOGioWw8TPkgP6iDEkmqeIEo3pPM8q6lA46CrhHXW/Xk2msZctpi3anF6QCLUsHhiI/um2f5MbUL+rW8TFRS1zwme/6d/aEfHl/T8iTwYbWj8KmfNAytgJY8WsQBvY=

before_install:
  - docker login -u=$DOCKER_LOGIN -p=$DOCKER_PASSWORD

  - docker pull openjdk
  - docker build -t the-app
  - docker tag the_app the-app:$(git rev-parse HEAD)
  - docker push $DOCKER_LOGIN/the_app

install:

  #- docker run ./gradlew clean jar

script:
  #- docker run ./gradlew test

after_success:
#  - docker push $DOCKER_LOGIN/WEB1066-the-app
