language: java
dist: trusty
jdk:
  - oraclejdk8

install:
  - ./gradlew clean jar

script:
  - ./gradlew test

after_success:
  - ./gradlew jacocoTestReport
  - find . -name jacocoTestReport.csv|xargs cat|awk -F',' '{print $3" "$4" "$5}'

before_deploy:
  - ./gradlew test jacocoTestCoverageVerification

deploy:
  - provider: script
    script: deploy_production.sh
    on:
      branch: final_step_test-deploy
